.root{
    -fx-background-image: url("../../resources/img/fondo1.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
    -fx-font-family: "Consolas";

}

.root.tutorial{
    -fx-background-image: url("../../resources/img/tutoria.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
    

}

/* 🔹 BOTÓN ESTILO NEÓN */
.button {
    -fx-background-color: linear-gradient(to bottom, #0f2027, #203a43, #2c5364);
    -fx-text-fill: #00ffff; /* cyan neón */
    -fx-font-size: 16px;
    -fx-font-weight: bold;

    -fx-border-color: #00ffff;
    -fx-border-width: 2px;
    -fx-border-radius: 8px;
    -fx-background-radius: 8px;

    -fx-padding: 10 25 10 25;

    /* Glow */
    -fx-effect: dropshadow(gaussian, #00ffff, 10, 0.5, 0, 0);
}

/* Hover (cuando pasas el mouse) */
.button:hover {
    -fx-background-color: linear-gradient(to bottom, #141e30, #243b55);
    -fx-text-fill: #39ff14; /* verde neón */
    -fx-border-color: #39ff14;

    -fx-effect: dropshadow(gaussian, #39ff14, 15, 0.7, 0, 0);
}

/* Click (cuando presionas) */
.button:pressed {
    -fx-background-color: #000000;
    -fx-scale-x: 0.95;
    -fx-scale-y: 0.95;
}

/* 🔹 TEXTO (Label) */
.label.texto {
    -fx-text-fill: #ffffff;
    -fx-font-size: 20px;

    /* Glow suave blanco */
    -fx-effect: dropshadow(gaussian, #ffffff, 5, 0.5, 0, 0);
}

/* 🔹 TEXTO IMPORTANTE (puntaje, título pequeño) */
.label.score {
    -fx-text-fill: #ffffff;
    -fx-font-size: 30px;
    -fx-font-weight: bold;

    -fx-effect: dropshadow(gaussian, #00ffff, 10, 0.6, 0, 0);
}

.button.sound {
    -fx-background-color: transparent;
     -fx-border-width: 0px;
}

.button.ayuda {
    -fx-background-color: transparent;
    -fx-background-image: url("../../resources/img/ayuda.png");
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    -fx-border-width: 0px;
}

.panel-ayuda {
    -fx-background-color: rgba(0, 0, 0, 0.8);
    -fx-pref-width: 100%;
    -fx-pref-height: 100%;
}

.button.volver {
    -fx-background-image: url("../../resources/img/flecha.png");
    -fx-background-size: contain;
    -fx-background-color: transparent;
    -fx-border-width: 0px;
}